# Ignore Python bytecode
__pycache__/
*.py[cod]
venv/
*/venv/
logs/
*.log


# Ignore uploaded papers
/media/papers/
/media/extracted/
/media/chm*
# Ignore environment files
.env
*.env

# Ignore local configs and OS files
.DS_Store
*.sqlite3

# VSCode and PyCharm folders
.vscode/
.idea/


