# Core Django packages
Django==5.2.4
django-allauth
django-crispy-forms
crispy-tailwind
psycopg2-binary
spacy
sentence-transformers
django-htmx
pgvector
djangorestframework
gunicorn
django-cors-headers
pymupdf
dotenv
bs4