# Core Django packages
Django==5.2.4
django-allauth
django-crispy-forms
crispy-tailwind
psycopg2-binary  # Needed for PostgreSQL support
spacy
faiss-cpu
sentence-transformers

# NLP and semantic search



#torch
#numpy

#langchain

# PDF and text extraction
pymupdf  # For PDF parsing (aka fitz)

# Optional: pip install -r requirements.txt
