# Core Django packages
Django==5.2.4
django-allauth==65.13.0
psycopg2-binary
django-htmx
pgvector
djangorestframework
gunicorn
django-cors-headers
pymupdf
python-dotenv
beautifulsoup4
django-debug-toolbar
jwt
google-genai
langchain
langchain-text-splitters