<div id="save-btn-{{ paper.id }}" >
    {% if is_saved %}
    <form 
        hx-post="{% url 'unsave_paper' paper.id %}" 
        hx-target="#save-btn-{{ paper.id }}" 
        hx-swap="outerHTML"
        hx-on="htmx:afterRequest: 
               htmx.ajax('GET', '{% url 'toast' %}?message=Paper removed!', '#toast-container')"
    >
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-soft p-3 text-xs bg-white dark:bg-zinc-800">
            Unsave Paper
        </button>
    </form>
    {% else %}
    <form 
        hx-post="{% url 'save_paper' paper.id %}" 
        hx-target="#save-btn-{{ paper.id }}" 
        hx-swap="outerHTML"
        hx-on="htmx:afterRequest: 
               htmx.ajax('GET', '{% url 'toast' %}?message=Paper saved!', '#toast-container')"
    >
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-soft p-3  text-xs bg-white dark:bg-zinc-800">
            Save Paper
        </button>
    </form>
    {% endif %}
</div>