{% for paper in papers %}
<tr x-show="(
             (!searchQuery || '{{ paper.title|escapejs }} {{ paper.authors|join:', '|escapejs }}'.toLowerCase().includes(searchQuery.toLowerCase()))
             && (!filterYear || filterYear == '{{ paper.year }}')
             && (!filterStatus || filterStatus == '{{ paper.status }}')
           )">
  <td>
    <a href="{% url 'paper_detail' paper.pk %}"
       class="text-gray-900 tracking-tight hover:underline mb-1 dark:text-zinc-300">
      {{ paper.title }}
    </a>
  </td>
  <td>{{ paper.year }}</td>
  <td>{{ paper.authors|join:", " }}</td>
  
  <td>
    {% if paper.status == "complete" %}
      <span class="badge badge-dash badge-success">Complete</span>
    {% elif paper.status == "processing" %}
      <span class="badge badge-dash badge-info">Processing</span>
    {% elif paper.status == "pending" %}
      <span class="badge badge-dash badge-warning">Pending</span>
    {% elif paper.status == "failed" %}
      <span class="badge badge-dash badge-error">Failed</span>
    {% else %}
      <span class="badge badge-dash badge-ghost">{{ paper.status|title }}</span>
    {% endif %}
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="4" class="text-center text-gray-500">No uploaded papers yet.</td>
</tr>
{% endfor %}