{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Upload New Paper{% endblock %}

{% block content %}

<div 
  class=""
  x-data="{ subTab: new URLSearchParams(window.location.search).get('subTab') || 'uploaded' }"
  x-init="$watch('subTab', value => {
    const url = new URL(window.location);
    url.searchParams.set('subTab', value);
    history.pushState({}, '', url);
  })"
>

  <!-- DaisyUI Tabs -->
  <div role="tablist" class="tabs tabs-border dar">
    <a @click="subTab = 'uploaded'" 
       :class="subTab === 'uploaded' ? 'tab tab-active' : 'tab'">
      Uploaded Papers
    </a>
    <a @click="subTab = 'upload'" 
       :class="subTab === 'upload' ? 'tab tab-active' : 'tab'">
      Upload a Paper
    </a>
    <a @click="subTab = 'review'" 
       :class="subTab === 'review' ? 'tab tab-active' : 'tab'">
      Review
    </a>
  </div>

<!-- Uploaded Papers -->
<div x-show="subTab === 'uploaded'"
     hx-get="{% url 'uploaded_papers_partial' %}"
     hx-trigger="load"
     hx-swap="innerHTML"
     class="mt-4">
     
  <!-- Skeleton placeholder -->
  <div class="animate-pulse space-y-2">
    <div class="h-10 bg-gray-300 rounded w-full"></div>
    <div class="h-10 bg-gray-300 rounded w-full"></div>
    <div class="h-10 bg-gray-300 rounded w-full"></div>
    <div class="h-10 bg-gray-300 rounded w-full"></div>
    <div class="h-10 bg-gray-300 rounded w-full"></div>
    <div class="h-10 bg-gray-300 rounded w-full"></div>
  </div>
</div>

  <!-- Upload Form -->
  <div x-show="subTab === 'upload'">
    {% include 'papers/partials/uploads/upload_form.html' %}
  </div>


</div>
{% endblock %}
