{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Upload New Paper{% endblock %}

{% block content %}

<div class="" x-data="{ subTab: 'uploaded' }">
  <h2 class="text-lg font-semibold text-gray-900 mb-4">Upload Section</h2>

  <!-- DaisyUI Tabs -->
  <div class="tabs tabs-border mb-4">
    <a @click="subTab = 'uploaded'" 
       :class="subTab === 'uploaded' ? 'tab tab-active' : 'tab'">
      Uploaded Papers
    </a>
    <a @click="subTab = 'upload'" 
       :class="subTab === 'upload' ? 'tab tab-active' : 'tab'">
      Upload a Paper
    </a>
  </div>

  <!-- Uploaded Papers -->
  <div x-show="subTab === 'uploaded'" 
       x-data="{ searchQuery: '', filterYear: '', filterStatus: '' }">
    {% include 'papers/partials/uploads/uploaded_papers.html' %}
  </div>

  <!-- Upload Form -->
  <div x-show="subTab === 'upload'">
    {% include 'papers/partials/uploads/upload_form.html' %}
  </div>

</div>
{% endblock %}
